body {
    background-image: url("./komacha.png");
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    text-align: center;
}

.content {
    color: black;
    font-size: 28px;
    font-weight: bolder;
}