html,
body {
  margin: 0px;
  padding: 0px;
  background-image: url("./komacha.png");
  background-blend-mode: lighten;
  text-align: center;
}

.bg-color {
  margin: 0px;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.6);
  min-height: 100vh;
}

.content {
  margin: 0px;
  padding: 0px;
  color: black;
  font-size: 28px;
  font-weight: bolder;
}

.content h1 {
  margin: 0px;
  padding: 15px;
}

footer p {
  margin: 0px;
}
